body {
    background-color: lightgray;
}

h1 {
    background-color: blue;
    color: white;
    padding-left: 10px;

    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;

    border: solid 3px red;
}

.small {
    font-size: 11px;
}

div p {
    background-color: #f99;
    border: solid 2px #933;
    padding: 5px;
}