<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ヘッダメニュー</title>
        <link rel="stylesheet" href="header.css">
    </head>
    
    <body>
        <header>
            <h1>
                <a href="#">Sample</a>
            </h1>

            <div class="menu">
                <ul>
                    <li><a href="#">マイページ</a></li>
                    <li><a href="#">お知らせ</a></li>
                    <li><a href="#">ログアウト</a></li>
                    <li><a href="#">裏口</a></li>
                </ul>
            </div>
        </header>
    </body>
</html>